## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
#Una variable "a" es inicializada con el valor entero 12
a = 12
#Se imprime en pantalla el valor de la variable "a"
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
#type sirve para retornarnos el tipo de valor de la variable en cuestión
type(8.5)

lista = (1,2,3,4,5,6)
type(lista)

tuple

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [2]:
#En este caso esta variable se inicializa con una cadena (string)
mi_nombre = "juan carlos perez"

5) Crear una variable que contenga un número complejo

In [3]:
#Python admite numeros complejos, con j representamos el valor imaginario
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [4]:
#La variable es de tipo complex
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
#Esta variable guarda un dato de tipo flotante
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
#En este caso var1 guarda una cadena con la denominación True, mientras que var2 guarda un valor booleano "verdadero", o "falso"
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [5]:
a = "Hola"
b = "Bienvenido"

Hola Bienvenido

10) Asignar a una variable, la suma de un número entero y otro decimal

In [6]:
#En Python podemos sumar flotantes con los numeros enteros
a = 5.2 + 4
print (a)

9.2

11) Realizar una operación de suma de números complejos

In [8]:
a = 3 + 1j
b = 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [9]:
#También podemos sumar un flotante con un complex
c = a + 1.61
print(c)

(4.61+1j)

13) Realizar una operación de multiplicación

In [5]:
#Para multiplicar tenemos el *
print(3 * 2)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [6]:
#En este caso este operando eleva al cuadrado la base de la izquierda
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:

#En este caso nos hace una division completa entre dos numeros
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [11]:
#Esta operación solo devuelve la parte entera de la division
print(27 // 5)

5

17) De la división de 27 entre 4 mostrar solamente el resto

In [1]:
#Esta operación nos devuelve el residuo de una division
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [2]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [3]:
#Es posible "sumar" cadenas, lo que haremos en sí es concatenarlas 
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [4]:
#Esta igualdad en python nos arrojara una falsedad, dado a que ambos son de tipos diferentes (entero) (cadena)
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [15]:
#sin embargo podemos convertir facilmente un dato a otro, empleando "DatoAconvenir(elemento_a_convertir)"
2 == complex('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [18]:
#Debemos tener cuidado en python dado a que los decimales se representan con un punto en vez de una coma
a = float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [20]:
#En este caso la combinacion (operando) (igual) hace que una variable se convierta en esa variable operada con otro valor. 
a = -3
print(a)
a -= 1
print(a)
a *= 2
print(a)

-3
-4
-8

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [23]:
#Tiene que ver con valores binarios, un valor se corre a la izquierda tanto 0 como el valor de la derecha
1 << 5

32

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [25]:
#No podemos sumar un numero con un String
2.1 + '2'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [25]:
#En este momento si se permitiría
float(2) + float('2')

4.0

In [26]:
#Igualmente se permiten ya que comparten el mismo tipo de dato
int(2) + int('2')

4

In [27]:
#Lo que sucederá aquí es concatenar el 2 de string, con el otro 2 de string, formando la cadena 22, nooo el valor 22
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [29]:
#Aun así existen formas de operar numeros con las cadenas, por jemeplo, podemos multiplicar un valor por uina cadena, para que repita una cantidad determinada. 
#Mientras tanto el segundo valor se trasnforma en un strin y se concatena con el +.
var1 = 'este texto se repite '
var2 = 4

candena_completa = var1 * var2 + str(var2) + " veces"
print(candena_completa)

este texto se repite este texto se repite este texto se repite este texto se repite 4 veces